<%- include('include/_header')%>


    <h1>CO Marks Input Form</h1>
    <form action="/api/users/Codefine" method="POST">
        <label for="co1">CO 1:</label>
        <input type="number" name="co1"><br>

        <label for="co2">CO 2:</label>
        <input type="number" name="co2" ><br>

        <label for="co3">CO 3:</label>
        <input type="number" name="co3" ><br>

        <label for="co4">CO 4:</label>
        <input type="number" name="co4" ><br>

        <label for="co5">CO 5:</label>
        <input type="number" name="co5" ><br>

        <label for="co6">CO 6:</label>
        <input type="number" name="co6" ><br>

        <label for="co7">CO 7:</label>
        <input type="number" name="co7" ><br>

        <label for="userId">User ID:</label>
        <input type="text" name="userId" ><br>

        <input class="submitDefine" type="submit" value="Submit">
    </form>

<%- include('include/_footer')%>