
<head>
    <link rel="stylesheet" href="/css/loginForm.css">
</head>

<div class="login-container">
  
    <h2>Login</h2>
    <form action="/api/users/login" class="login-form" method="post">
      <input type="text" name="Fid" placeholder="Faculty Id">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign in</button>
    </form>
    <p>Not a member? <a class="signup-Now" href="/register">Sign up now</a></p>
  </div>