<%- include('include/_header')%>
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/calcCOpO.css">
</head>
<body>
    <div class="pocoCalc">
        <form action="/api/users/coRatio" method="POST">
            <button class="btn1">Calcualte the CO Ration</button>
        </form> 
          <form action="/api/users/calculatePOs" method="POST">
            <button class="btn2" type="submit">Calculate PO's</button>
        </form>

    </div>
    

</body>
</html>

<%- include('include/_footer')%>