<!-- search.ejs -->

<%- include('include/_header')%>

<div class="search-container">
    <h2>Search by Exam ID</h2>
    <form action="//api/users/search" method="GET">
        <label for="examId">Enter Exam ID:</label>
        <input type="text" id="examId" name="Fid">
        <button type="submit" name="search">Search</button> 
    </form>
</div>

<%- include('include/_footer')%>
