
<!DOCTYPE html>
<html>
<head>
    <title>Student Data Form</title>
</head>
<body>
    <h1>Student Data Form</h1>
    <form action="/api/users/create" method="POST">
        <table>
            <tr>
                <td>
                    Fid:  <input type="text" name="Fid" placeholder="Faculty ID">
                </td>
            </tr>
        </table>
        <table>
            
            <thead>
                <tr>
                    <th>Student Details</th>
                    <th>CO1</th>
                    <th>CO2</th>
                    <th>CO3</th>
                    <th>CO4</th>
                    <th>CO5</th>
                    <th>CO6</th>
                    <th>CO7</th>
                </tr>
            </thead>
            <tbody>
                <!-- Student 1 -->
                <tr>
                    <td>
                        <input type="text" name="Ccode[0]" placeholder="Course Code">
                        <input type="text" name="Ctitle[0]" placeholder="Course Title">
                        <input type="text" name="Semester[0]" placeholder="Semester">
                        <input type="text" name="ExamID[0]" placeholder="Exam ID">
                        <input type="text" name="studentName[0]" placeholder="Student Name">
                        <input type="text" name="studentIDvalue[0]" placeholder="Student ID">
                        <input type="text" name="Marks[0]" placeholder="Marks">
                    </td>
                    <td><input type="number" name="co1[0]"></td>
                    <td><input type="number" name="co2[0]"></td>
                    <td><input type="number" name="co3[0]"></td>
                    <td><input type="number" name="co4[0]"></td>
                    <td><input type="number" name="co5[0]"></td>
                    <td><input type="number" name="co6[0]"></td>
                    <td><input type="number" name="co7[0]"></td>
                </tr>
<!-- student 2 -->
                <tr>
                    <td>
                        <input type="text" name="Ccode[1]" placeholder="Course Code">
                        <input type="text" name="Ctitle[1]" placeholder="Course Title">
                        <input type="text" name="Semester[1]" placeholder="Semester">
                        <input type="text" name="ExamID[1]" placeholder="Exam ID">
                        <input type="text" name="studentName[1]" placeholder="Student Name">
                        <input type="text" name="studentIDvalue[1]" placeholder="Student ID">
                        <input type="text" name="Marks[1]" placeholder="Marks">
                    </td>
                    <td><input type="number" name="co1[1]"></td>
                    <td><input type="number" name="co2[1]"></td>
                    <td><input type="number" name="co3[1]"></td>
                    <td><input type="number" name="co4[1]"></td>
                    <td><input type="number" name="co5[1]"></td>
                    <td><input type="number" name="co6[1]"></td>
                    <td><input type="number" name="co7[1]"></td>
                </tr>
                <!-- student-3 -->
                <tr>
                    <td>
                        <input type="text" name="Ccode[2]" placeholder="Course Code">
                        <input type="text" name="Ctitle[2]" placeholder="Course Title">
                        <input type="text" name="Semester[2]" placeholder="Semester">
                        <input type="text" name="ExamID[2]" placeholder="Exam ID">
                        <input type="text" name="studentName[2]" placeholder="Student Name">
                        <input type="text" name="studentIDvalue[2]" placeholder="Student ID">
                        <input type="text" name="Marks[2]" placeholder="Marks">
                    </td>
                    <td><input type="number" name="co1[2]"></td>
                    <td><input type="number" name="co2[2]"></td>
                    <td><input type="number" name="co3[2]"></td>
                    <td><input type="number" name="co4[2]"></td>
                    <td><input type="number" name="co5[2]"></td>
                    <td><input type="number" name="co6[2]"></td>
                    <td><input type="number" name="co7[2]"></td>
                </tr>
                <!-- student-4 -->
                <tr>
                    <td>
                        <input type="text" name="Ccode[3]" placeholder="Course Code">
                        <input type="text" name="Ctitle[3]" placeholder="Course Title">
                        <input type="text" name="Semester[3]" placeholder="Semester">
                        <input type="text" name="ExamID[3]" placeholder="Exam ID">
                        <input type="text" name="studentName[3]" placeholder="Student Name">
                        <input type="text" name="studentIDvalue[3]" placeholder="Student ID">
                        <input type="text" name="Marks[3]" placeholder="Marks">
                    </td>
                    <td><input type="number" name="co1[3]"></td>
                    <td><input type="number" name="co2[3]"></td>
                    <td><input type="number" name="co3[3]"></td>
                    <td><input type="number" name="co4[3]"></td>
                    <td><input type="number" name="co5[3]"></td>
                    <td><input type="number" name="co6[3]"></td>
                    <td><input type="number" name="co7[3]"></td>
                </tr>
                <!-- for student 5 -->
                <tr>
                    <td>
                        <input type="text" name="Ccode[4]" placeholder="Course Code">
                        <input type="text" name="Ctitle[4]" placeholder="Course Title">
                        <input type="text" name="Semester[4]" placeholder="Semester">
                        <input type="text" name="ExamID[4]" placeholder="Exam ID">
                        <input type="text" name="studentName[4]" placeholder="Student Name">
                        <input type="text" name="studentIDvalue[4]" placeholder="Student ID">
                        <input type="text" name="Marks[4]" placeholder="Marks">
                    </td>
                    <td><input type="number" name="co1[4]"></td>
                    <td><input type="number" name="co2[4]"></td>
                    <td><input type="number" name="co3[4]"></td>
                    <td><input type="number" name="co4[4]"></td>
                    <td><input type="number" name="co5[4]"></td>
                    <td><input type="number" name="co6[4]"></td>
                    <td><input type="number" name="co7[4]"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

