
<div class="CO">
    <form action="/api/users" method="POST" id="marks_entry_in"> 
        <div class="container">
            <div class="techerdata">
              
                   
                   
                       <fieldset>
                        <legend>FACULTY</legend>
                        <label for="name"> Name</label><br>
                        <input type="text" name="Fname"><br>
                        <label for="name"> Faculty Id</label><br>
                        <input type="text" name="Fid"><br>
                        <label for="name">Course Code & Section</label><br>
                        <input type="text" name="Ccode"><br>
                        <label for="name"> Course Title</label><br>
                        <input type="text" name="Ctitle"><br>
                        <label for="name"> Semester</label><br>
                        <input type="text" name="Semester"><br>
                       </fieldset>

                
            </div>

        <fieldset>
            <legend>CO </legend>
            <label for="name">Exam</label>
             <input type="text" name="ExamID">
            <table>
                <tr>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>Marks</th>
                    <th>CO 1</th>
                    <th>CO 2</th>
                    <th>CO 3</th>
                    <th>CO 4</th>
                    <th>CO 5</th>
                    <th>CO 6</th>
                    <th>CO 7</th>
                    <th>Add Row</th>
                </tr>
            
       <tbody id="container">
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr><tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text" class="coInput" name="studentName"></td>
                        <td><input type="text" class="coInput" name="studentIDvalue"></td>
                        <td><input type="text" class="coInput" name="Marks"></td>
                        <td><input type="text" class="coInput" name="co1"></td>
                        <td><input type="text" class="coInput" name="co2"></td>
                        <td><input type="text" class="coInput" name="co3"></td>
                        <td><input type="text" class="coInput" name="co4"></td>
                        <td><input type="text" class="coInput" name="co5"></td>
                        <td><input type="text" class="coInput" name="co6"></td>
                        <td><input type="text" class="coInput" name="co7"></td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </fieldset>
        <div class="CoSubmit"> <button class="submit-btn">Save</button></div>
    </form>
</div>







<!-- 

 <script>
    <td><button type="button" id="addButton" onclick="create_tr('container')">Add Row</button> <button type="button" id="delbutton" onclick="remove_tr(this)">Delete</button></td>
   function create_tr(container){
        let table_body=document.getElementById(container);
        let first_tr=table_body.firstElementChild;
        let tr_clone=first_tr.cloneNode(true);
        clean_first_tr(tr_clone);
        
        let newRow = document.createElement("tr");
        newRow.innerHTML = tr_clone.innerHTML;  // Copy the content of the cloned row
        table_body.appendChild(newRow);
   }

   function clean_first_tr(firstTr){
        let children=firstTr.children;
        children=Array.isArray(children)  ? children:Object.values(children);
        children.forEach(x=>{
            if(x!==firstTr.lastElementChild){
                x.firstElementChild.value=' ';
            }
        });
   }
   function remove_tr(This){
    if(This.closest('tbody').childElementCount == 1){
        alert("You Don't have Permission to delete the first row");
    }else{
        This.closest('tr').remove();
    }
   }
  
</script>  
 -->


<!-- <script>
    function submitForm() {
        const students = [];

        // Iterate through each row in the table
        const rows = document.querySelectorAll('#container tr');
        rows.forEach(row => {
            const student = {
                studentName: row.querySelector('[name="studentName"]').value,
                studentIDvalue: row.querySelector('[name="studentIDvalue"]').value,
                Marks: row.querySelector('[name="Marks"]').value,
                co1: row.querySelector('[name="co1"]').value,
                co2: row.querySelector('[name="co2"]').value,
                co3: row.querySelector('[name="co3"]').value,
                co4: row.querySelector('[name="co4"]').value,
                co5: row.querySelector('[name="co5"]').value,
                co6: row.querySelector('[name="co6"]').value,
                co7: row.querySelector('[name="co7"]').value,
            };
            students.push(student);
        });

        const formData = {
            Fname: document.querySelector('[name="Fname"]').value,
            Fid: document.querySelector('[name="Fid"]').value,
            Ccode: document.querySelector('[name="Ccode"]').value,
            Ctitle: document.querySelector('[name="Ctitle"]').value,
            Semester: document.querySelector('[name="Semester"]').value,
            ExamID: document.querySelector('[name="ExamID"]').value,
            students: students,
        };

        console.log(formData); // Debugging line

        // Send the data to the backend
        fetch('/api/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            // Handle success response
            console.log(data); // You can perform further actions here
        })
        .catch(error => {
            // Handle error
            console.error(error);
        });
    }
</script> --> 
