<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" href="/css/COfrom.css">
</head>
<body>
    <div class="main-site">
        <div class="container">
            <div class="navbar">
                <div class="navleft">
                    <span class="logo"> OBE </span>
                </div>
                <div class="navmiddle">
                    <nav role="navigation" class="navigation-items w-nav-menu">
                        <a href="/about" class="navigation-item w-nav-link">About</a>
                        <a href="/marks-entry" class="navigation-item w-nav-link">Marks Entry</a>
                        <a href="/coRatios" class="navigation-item w-nav-link">Co Ratio</a>
                        <a href="/define-co" class="navigation-item w-nav-link">Define CO</a>
                        <a href="/show-data" class="navigation-item w-nav-link">Show Data</a>
                        <a href="/findPO" class="navigation-item w-nav-link">Po Values</a>
                       
                        
                </div>
                <div class="navright">
                    <a href="/api/users/logout" class="navigation-item w-nav-link">Logout</a></nav>
                </div>
            </div>
            
        </div>
    </div>