
body{
  
    height: 1080px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--border-btn); 
    padding: 10px 0;
    

}

.navbar:hover{
    background-color: aqua;

}

.navleft {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 0px;
}

.navmiddle {
    background-color: transparent;
    display: flex;
    gap: 20px;

}

.navigation-item {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--light); 
    padding: 10px;

}
.navigation-item:hover{
    background-color: white;
}

.navright {
    background-color: transparent;
}


.container {
    padding: 20px;
}
.About{
    margin-top: 50px;
    max-width: 80%x;
    height: 500px;

}
.About img{
    height: 100%;
    width: 100%;
}

.submitDefine{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}